<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link href="./css/styles.css" rel="stylesheet">
    <link href="/components/header/header.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
</head>
<div class="container" >
  <header>
    <h3>Find a place for your dream vacation</h3>
    <h6>Downtown or in nature</h6>

    <form>
      <i class="fas fa-map-marker-alt"></i>
      <input class="placeholder" type="search" name="search" placeholder="Marseille,France">
      <input type="submit" value="Search">
      <i class="fas fa-search"></i>
    </form>
    
    <div class="filterbar">
      <h3>Filters</h3>
      <div class="btnsfilters">
        <button class="btnfilter">
          <i class="fas fa-money-bill-wave fa-1x" aria-hidden="true"></i>
          <span>Low cost</span>
        </button>

        <button class="btnfilter">
          <i class="fas fa-child"></i>
          <span>Family-friendly</span>
        </button>

        <button class="btnfilter">
          <i class="fas fa-heart"></i>
          <span>Romantic</span>
        </button>

        <button class="btnfilter">
          <i class="fas fa-dog"></i>
          <span>Pets allowed</span>
        </button>
      </div>

    </div>
    <div class="info">
      <span>
        <i class="fas fa-info"></i>
      </span>

      <span>More than 500 accommodations are avaible in this city</span>
    </div>
  </header>
    
  </div>
</html>