<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Accommodations</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='accomodations.css'>
    <link href="../../css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
</head>
<body>
    <div class="container ">
        <section class="accommodations">
            <h3 >Accommodations in Marseille</h3>
            <div class="columns">

                <div class=" column">
                    <a href="#0"><img src="/components/accomodations/images/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg" alt=" Auberge la Cannebiere">
                    <div class=" accommodations2"> 
                        <h4><b>Auberge la Cannebiere</b></h4>
                        <p> Night starting at <b>25€</b> </p>
                        <div class="stars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star empty"></span>
                        </div>
                    </div>
                  </a>
                </div>

                <div class="column"><a href="#10"><img src="/components/accomodations/images/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg" alt=" Hotel du port"> 
                    <div class="accommodations2">
                        <h4><b>Hotel du port</b></h4>
                        <p> Night starting at <b>52€</b></p>
                        <div class="stars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>
                    </div>
                  </a>
                </div>

                <div class="column"> <a href="#10"><img src="/components/accomodations/images/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg" alt=" Les mouettes Hotel" > 
                    <div class="accommodations2">
                        <h4><b>Les mouetes Hotel</b></h4>
                        <p> Night starting at <b>76€</b> </p>
                        <div class="stars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star empty"></span>
                        </div>
                    </div>
                  </a>
                </div>
                <div class="column"><a href="#10"><img src="/components/accomodations/images/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg" alt=" Hotel de la mer ">
                    <div class="accommodations2"> 
                        <h4><b>Hotel de la mer</b></h4>
                        <p> Night starting at <b>€46</b></p>
                        <div class="stars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star empty"></span>
                            <span class="fa fa-star empty"></span>
                        </div>
                      </a>
                    </div>
                </div>

                <div class="column"><a href="#10"><img src="/components/accomodations/images/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg" alt=" Auberge le Panier"> 
                    <div class="accommodations2">
                        <h4><b>Auberge le Panier</b></h4>
                        <p> Night starting at <b>€23</b></p>
                        <div class="stars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star empty"></span>
                        </div>
                    </div>
                  </a>
                </div>

                <div class="column"><a href="#10"><img src="/components/accomodations/images/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg" alt=" Hotel chez Amina">
                    <div class="accommodations2"> 
                        <h4><b>Hotel chez Amine</b></h4>
                        <p>Night starting at <b>€96</b></p>
                        <div class="stars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star empty"></span>
                        </div>
                    </div>
                  </a>
                </div>
            </div>
            <h4 class="showmore"><b>Show more</b></h4>
        </section>
    </div>    
</body>
</html>