<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>Activites in Marseille</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel='stylesheet' type='text/css' media='screen' href='activities.css'>
</head>

<body>
	<div class="d-flex flex-direction-row">
		<div class="col d-flex flex-direction-column mr-1">
		  <div class="d-flex h-100 box">
			<a href="#" class="card">
			  <img src="/images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg">
			  <h5> Old Port </h5>
			</a>
		  </div>
		</div>
		<div>
		  <div class="mb-1 box">
			<a href="#" class="card">
			  <img src="/images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg" style="height: 250px;">
			  <h5> Pomegues Fort </h5>
			</a>
		  </div>
		  <div class="box">
			<a href="#" class="card">
			  <img src="/images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg" style="height: 166px;">
			  <h5> Frioul Island </h5>
			</a>
		  </div>
		</div>
		<div class="col d-flex flex-direction-column mr-1">
		  <div class="d-flex h-100 box">
			<a href="#" class="card">
			  <img src="/images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg">
			  <h5> Calanques National Park </h5>
			</a>
		  </div>
		</div>
		<div class="col d-flex flex-direction-column">
		  <div class="mb-1 box">
			<a href="#" class="card">
			  <img src="/images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg" style="height: 166px;">
			  <h5> Notre-Dame-de-la-Garde </h5>
			</a>
		  </div>
		  <div class="box">
			<a href="#" class="card">
			  <img src="/images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg" style="height: 250px;">
			  <h5> Longchamp Park </h5>
			</a>
		  </div>
		</div>
	  </div>
	</section>
</body>
