<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Articles</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' type='text/css' media='screen' href='mostpopular.css'>
        <link href="../../css/styles.css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">    
            <aside> 
                <div class="sectiont sectiontaside">
                    <h3> Most Popular </h3>
                    <i class="fas fa-chart-line "></i>
                </div>  

                <div class="popsaside">
                    <div onclick="location.href='#0';" style="cursor: pointer;" class="popaside">
                        <img src="/components/articles/Images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg" alt=" Auberge la Cannebiere">
                        <div class="asidetext">
                            <h4><b> Morning Sun Hotel </b></h4>
                            <p> Night starting at <b> 128€ </b></p> 
                            <div class="stars">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </div>
                        </div>
                    </div>
                        <div onclick="location.href='#0';" style="cursor:pointer;" class="popaside">
                            <img src="/components/articles/Images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg" alt=" Hotel du port"> 
                            <div class="asidetext">
                                <h4><b> Au coeur de l'eau Bed and Breakfast </b> </h4>
                                <p> Night starting at <b>71€</b></p>
                                <div class="stars">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star empty"></span>
                                </div>
                            </div>
                        </div>
                        <div onclick="location.href='#0';" style="cursor: pointer;" class="popaside">
                                <img src="/components/articles/Images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg" alt=" Les mouettes Hotel">
                                <div class="asidetext">
                                    <h4><b> Tout bleu et Blanc Hotel </b> </h4>
                                    <p> Night starting at <b>68€</b></p>
                                    <div class="stars">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star empty"></span>
                                    </div>
                                </div>
                        </div>
                </div>
            </aside>
        </div>
    </body>
</html>
