<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel='stylesheet' type='text/css' media='screen' href='footer.css'>
</head>
<body>
    <style>
        .li, strong {
            color: black;
            line-height: 3;
        }
    </style>

    <div class="footer">
        <ul class="text">
            <li> <strong> About </strong> </li>
            <li> Site Map </li>
            <li> General Terms and Conditions </li>
            <li> Data and Privacy </li>
        </ul>

        <ul class="text">
            <li> <strong> Our Accomodations </strong> </li>
            <li> Quality Assessment </li>
            <li> You have a hotel? </li>
        </ul>

        <ul class="text">
            <li> <strong> Assistance </strong> </li>
            <li> Help Desk </li>
            <li>Contact Us </li>
        </ul>
    </div>   
</body>
</html>